<!DOCTYPE html>
<html>
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!--[if lt IE 9]>
			<script src="vendor/html5shiv/dist/html5shiv.min.js"></script>
		<![endif]-->
<title>Hello Word</title>
<th:block th:include="layout-default/includes :: head" />

<style type="text/css">
table.dataTable thead th, table.dataTable thead td {
	padding: 10px 18px;
	border: 1px solid #e8e8e8 !important;
}

table.dataTable.no-footer {
	border: none !important;
}
</style>
<!-- Experian -->
<link th:href="@{/resources/css/style.css}" rel="stylesheet" />
</head>
<body>
	<!-- <div id="vidroCarregando"></div> -->
	<div th:replace="layout-default/includes :: scripts-base"></div>
	<script th:src="@{/resources/js/protesto/hello.js}"></script>

	<div th:replace="layout-default/header :: header"></div>

	<div class="container content-wrapper">
		<div class="row visible-xs">
			<div style="height: 80px"></div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3 class="text-center">
					<span>Hello Protestos</span>
				</h3>
			</div>
		</div>
		<form method="post" name="formConsulta" action="#">
			<div class="row">
				
				<div class="form-horizontal margem-cima-30">
					<fieldset>
						<!-- Botões -->
						<div class="form-group">
							<label class="col-md-3 control-label" for=""></label>
							<div class="col-md-8">
								<a id="teste" name="Consultar1" class="btn btn-primary consulta">Consultar</a>
							</div>
						</div>
					</fieldset>
				</div>

				<!-- div de erro -->
				<div id="consultaHistoricoSolicitacaoErro" style="display: none;" class="row">
					<div class="">
						<div class="col-md-12">
							<div id="response" class="alert alert-dismissible alert-danger">
								<h4>
									<i class="fa fa-exclamation-triangle fa-1x" aria-hidden="true"></i><strong><span
										id="lista"></span> </strong>
								</h4>
								<small><span id="span" class="margem-baixo-10"></span></small>
								<p class="margem-baixo-15">
									<strong><small> <a href="javascript:;"
											class="text-danger erro-slide">Exibir detalhes do erro </a>
									</small></strong>
								</p>
								<pre id="p_trace" class="margem-baixo-15 detalhes"
									style="display: none;"></pre>
							</div>
						</div>
					</div>
				</div>

			</div>
		</form>
	</div>


	<!-- Scripts -->
	<th:block th:replace="layout-default/includes :: scripts-validator"></th:block>
</body>
</html>