.navbar-inverse {
    background-color: #f2f2f2;
    border-color: #f2f2f2;

    max-height: 70px;
	height: 70px;
	min-height: 70px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.se-logo {
	background: url("../img/logo-serasa-experian.png") no-repeat center;
	background-size: contain;
	height: 60px;
	width: 100px;
	background-position: left center;
}

.nav-container {
	margin-right: auto;
	margin-left: auto;
}

@media (min-width :768px) {
	.nav-container {
		width: 750px;
	}
	
	body {
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 5px 0;
    }
    
	.se-logo {
		background: url("../img/logo-serasa-experian.png") no-repeat center;
		background-size: contain;
		height: 60px;
		width: 150px;
	}
}

@media (min-width :992px) {
	.nav-container {
		width: 970px;
	}
}

@media (min-width :1200px) {
	.nav-container {
		width: 1170px;
	}
}
